# shellcheck disable=SC2148,SC2155

export BUF_INPUT_FAXAPIS=/home/takekazu/ghq/github.com/plusmedi/mhv2-api-specs/protos/backends/faxapis
export BUF_INPUT_EMAILAPIS=/home/takekazu/worktree/mhv2-api-specs-work/protos/backends/emailapis


[[ ! -f ./.envrc.local ]] || source_env ./.envrc.local
