# shellcheck disable=SC2148,SC2155

# Container Appsの名前
export ACA_NAME=patientapis

# Container Registryの場所
export ACR_RGNAME=rg-mhv2-playground-common
export ACR_NAME=crmhv25ua3ddectf7dg

# Container Appsの場所(Backend)
export ACA_BACKEND_RGNAME=rg-mhv2-playground-capps-backend
export ACA_BACKEND_ENVNAME=caenv-mhv2-backend

# User Managed ID名(Backend)
export ACA_BACKEND_MSIDNAME=id-mhv2-backend

# for ko
export KO_DOCKER_REPO=${ACR_NAME}.azurecr.io

[[ ! -f .envrc.local ]] || source_env .envrc.local
